.App {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.ContentScroller {
  align-self: baseline;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  cursor: pointer;
}

.ContentScroller--Launch {
  z-index: 1;
}

.ContentScrollerFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ContentScrollerTitle {
  color: #929cc4;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.ContentScrollerTitle--Launch {
  color: #f6c8c9;
  margin-bottom: 0;
}

.ContentScrollerImage {
  width: 48px;
  height: auto;
}

.ContentScrollerImage--Launch {
  margin-bottom: 14px;
}

.RocketBoosterImage {
  position: absolute;
  bottom: 0px;
  left: 10%;
}

.RocketImage {
  visibility: visible;
  position: absolute;
  bottom: 120px;
  left: calc(10% - 15px);
}

.RocketImageLaunch {
  visibility: visible;
  position: absolute;
  bottom: 120px;
  left: calc(10% - 15px);
}

.animate-blast-off {
  display: block;
  position: fixed;
  animation: blast-off 1s linear;
}

@keyframes blast-off {
  100% {
    bottom: 110vh;
  }
}

.hidden {
  visibility: hidden;
}
